.about-movie-container{

  margin-top: 8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #FFFFFF;



  .about-image-movie{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    font-family: Arial;

    img{
      width: 350px;
      height: 450px;
      display: flex;
      justify-content: flex-end!important;

    }
  }

  .about-text-section{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;

    .budget-popularity{
      display: flex;
      justify-content: flex-start;

      .budget-section,.popularity-section{
        padding-right: 10px;
        box-sizing: border-box;

      }




    }


     span {
       font-size: 13px;
     }



    .button-section-about{
      display: flex;
      justify-content: flex-start;
      button{
        padding: 5px 10px;
        box-sizing: border-box;
        background-color: #61dafb;
        height: 2rem;
        font-weight: 500;
        color: #FFFFFF;
        border: none;
        outline: none;
        cursor: none;
        display: flex;
        justify-content: space-between;
        margin-left: 5px;
        border-radius: 5px;
      }


    }

  }

}