.actor-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;


  .show-for-actor {
    position: absolute;
    right: 2px;
    padding: 10px 20px;
    background-color: #61dafb;
    outline: none;
    border: none;
    border-radius: 1px;
    color: #FFFFFF;
    height: 2rem;
  }

  .actor-blog {
    width: 60%;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px 150px;
    grid-gap: 1rem;

    .actor-img-section {

      img {
        width: 150px;
        height: 200px;
        display: flex;
        justify-content: flex-end !important;

      }

    }

    .actor-text-section {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      color: #FFFFFF;
      text-align: left;
      padding: 0;
      h4 {
        padding: 0;
        margin: 0;
        font-size: 14px;
        margin-bottom: 2px;
      }
      span {
        font-size: 12px;
      }

    }
  }

}