.bod-container{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;


  .body-section{
    box-sizing: border-box;
    width: 1300px;


    h1{
      color: #FFFFFF;
      font-weight: bolder;

    }
  }

  .body-button-section{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;


    button{
      cursor: pointer;
      padding: 10px 20px;
      box-sizing: border-box;
      color: #FFFFFF;
      background-color: #f50041;
      outline: none;
      border: none;
      border-radius: 10px;
    }
  }
}

.all-movies-page{
  margin-top: 3rem;
}