.card-container{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px 250px;
  grid-gap: 1rem;
  color: #444;



  .card-block{
    box-shadow: .2px 1px 02px 1px #031629;

    width: 100%;
    height: 400px;


    .img-section{
      width: 100%;
      margin: 0 auto;
      img{
        width: 100%;
        height: 400px;
      }
    }

    .text-section{
      position: absolute;
      margin-top: -80px;
      z-index: 2;
      padding: 20px;
      box-sizing: border-box;

      .movie-name {
        span{
          color: #FFFFFF;
          font-weight: bolder;
        }
      }
      .movie-star{
        display: flex;
        span:nth-child(1){
          color: #CEF836;
          font-weight: bolder;
          padding-right: 5px;
        }
        span:nth-child(2){
          color: #FFFFFF;
          font-weight: bolder;
        }
      }

    }

    .button-section{
      display: none;
      width: 100%;
      justify-content: center;
      margin-top: -200px;
      transition: all .7s ease;


      button {

        padding: 10px 20px;
        background-color: #f50041;
        border-radius: 20%;
        border: none;
        cursor: pointer;
        outline: none;
        color: #FFFFFF;
      }
    }
  }

  .card-block:hover {
    background-color: rgba(0,0,0,.4);
    z-index: 1;
  }

  .card-block:hover{


    .img-section{
      background-color: #031629;

    }

    .button-section {
      display: flex;
      transition: all .7s ease;

    }


    }
}