.header-container{
  width: 100%;
  margin: 0 auto;
  background-color: #031629;
  height: 4rem;
  position: fixed;
  top: 0;
  z-index: 3;

  .header-section{

    padding: 10px;
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    a {
      color:inherit;

    }
     h1{
       color: #FFFFFF;
       text-decoration: none;
       display: block;
       font-size: 24px;
       font-weight: 500;
       cursor: pointer;
     }
  }
}