.slider-root-styles{

  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  height: 500px;
  margin-top: 5rem;

  .baground-slider{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.61);
    margin-top: 5px;





    .slider-container{
      top: 2rem;
      display: flex;
      justify-content: center;
      width: 1200px;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      list-style: none;
      box-sizing: border-box;
      z-index: 1;
      box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
      background-color: rgba(0,0,0,.4);



      .text-section{
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        box-sizing: border-box;




        .button-section{
          display: flex;
          justify-content: flex-start;

          button {
            padding: 5px 10px;
            box-sizing: border-box;
            height: 2rem;
            font-weight: 500;
            color: #FFFFFF;
            border: none;
            outline: none;
            cursor: none;
            display: flex;
            justify-content: space-between;
            margin-left: 5px;
            border-radius: 5px;

          }

          button:nth-child(1){
            background-color: #61dafb;
          }
          button:nth-child(2){
            background-color: coral;
          }
          button:nth-child(3){
            background-color: red;
          }
        }

        .text-name{
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          flex-direction: column;
          color: #abb7c4;
          margin-left: 5px;
          text-align: left;
          max-width: 600px;

          .movie-statistics{
            color: #abb7c4;
            padding-left: 0;
            display: -webkit-flex;
            display: flex;

            li{
              font-size: 15px;
              margin: 5px 0;
              list-style: none;
              font-weight: 600;
              padding-right: 30px;

              span{
                margin-right: 10px;
                font-weight: 300;
              }
            }
          }



          h1{
            color: #FFFFFF;
            font-size: 3rem!important;
            align-items: left;
            margin-left: 3px;
            max-height: 100px;

          }

          p{
            max-width: 400px;
            max-height: 100px;
            overflow: hidden;

          }
        }
      }


      .hero-slide {
        height: 400px !important;
        padding: 20px 40px;
        box-sizing: border-box;
        display: flex;
        position: relative;
        overflow: hidden;
      }
      .slide-image {
        height: 50%;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        align-items: center;
        display: flex;
        justify-content: flex-end;


        img{
          width: 250px;
          height: 350px;
          display: flex;
          justify-content: flex-end!important;
          margin-right: 5rem;
        }
      }
      .hero-slider .content {
        position: relative;
        z-index: 2;
      }
    }


  }




}
