.tap-containers{
  width: 100%;
  display: flex;


  .tap-section{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;


    h1{
      text-decoration: none;
      color: #FFFFFF;
      display: flex;
      justify-content: flex-start;
      font-size: 24px;
      font-weight: 500;
      cursor: pointer;
      padding-left: 10px;
      width: 100%;

    }


    .tap-block{

      display: flex;
      justify-content: flex-start;
      padding: 0;


      .active {
        color: #CEF836;
      }

      li{
        padding: 10px;
        font-weight: bolder;
        color: #FFFFFF;
        text-transform: uppercase;
        list-style-type: none;
        cursor: pointer;
      }
    }
  }

}